<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="{:url('register/register')}" method="post">
		<div><input type="text" name="username"></div>
		
		<div><input type="password" name="password"></div>
		<div><input type="radio" name="sex" value="0">男
		<input type="radio" name="sex" value="1">女</div>
		<div>
			<!-- <select name="" id="">
				<option value="">2014</option>
				<option value="">2015</option>
				<option value="">2016</option>
				<option value="">2017</option>
			</select>

			年
			<select name="" id="">
				<option value="">10</option>
				<option value="">5</option>
				<option value="">4</option>
				<option value="">7</option>
			</select>
			月
			<select name="" id="">
				<option value="">1</option>
				<option value="">2</option>
				<option value="">4</option>
				<option value="">9</option>
			</select>
			日 -->
			<input type="text" name="age">
			<input type="text" name="grade">
			<input type="text" name="school">
		</div>
		<input type="submit">
	</form>
	
</body>
</html>